<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<sectionGroup name="devExpress">
			<section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<appSettings>
		<!-- 1. Khu vực connection string - Khu vực này lưu giữ khi qua bảng mới-->
		<add key="TKS_Thuc_Tap_Data_Conn_String" value="Server=localhost;UID=sa;PWD=hieuhoang@;database=TKS_Thuc_Tap_Data;Connection lifetime=15;"/>
		<add key="TKS_Thuc_Tap_Admin_Conn_String" value="Server=localhost;UID=sa;PWD=hieuhoang@;database=TKS_Thuc_Tap_Admin;Connection lifetime=15;"/>
		<!-- 1. End -->
		<!-- 2. Khu vực các cấu hình về thông tin công ty-->
		<add key="Company_Name" value="TKSolution"/>
		<add key="Company_Address" value="776/22B Nguyễn Kiệm, P4, Phú Nhuận, TPHCM."/>
		<add key="Company_Tel" value="Tel: 08 38443461"/>
		<add key="Company_Fax" value="Fax: "/>
		<add key="Custom_Key" value="Email: info@tks.com.vn"/>
		<!--2. End-->
		<!--3. Cấu hình các version, hệ thống-->
		<add key="Page_Size" value="50"/>
		<add key="Report_Line_Space" value="10"/>
		<add key="DateTime_Format_String" value="dd-MM-yyyy"/>
		<add key="Number_Format_String" value="###,###0.###;-###,###0.###;-"/>
		<!--3. End-->
		<!--4. Các cấu hình tham số của hệ thống-->
		<add key="Lang_VN" value="vi-VN"/>
		<add key="Lang_EN" value="en-US"/>
		<add key="Default_Func_ID" value="8000"/>
		<add key="Admin_Func_Group_ID" value="1"/>
		<add key="Default_Url" value="~/Dashboard/Dashboard.aspx?f=8000"/>
		<!--4. End-->
		<!--5. Các cấu hình log & backup database-->
		<add key="Log_File_Path" value="C:\\Log\\TKS_Core.log"/>
		<!-- Đường dẫn file log -->
		<add key="Is_Trace" value="1"/>
		<!-- Có trace lại để theo dõi không. 1: Có; 0: không -->
		<!--5. End-->
		<!--6. Mail & ID -->
		<add key="smpt_Host" value="smtp.gmail.com"/>
		<add key="smpt_UseDefaultCredentials" value="false"/>
		<add key="smpt_Port" value="587"/>
		<add key="smpt_User" value="info@tks.com.vn"/>
		<add key="smpt_Pass" value="tks222333"/>
		<add key="smpt_EnableSsl" value="true"/>
		<add key="Email_From" value="info@tks.com.vn"/>
		<!--6. End-->
	</appSettings>
	<!--
		For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

		The following attributes can be set on the <httpRuntime> tag.
			<system.Web>
				<httpRuntime targetFramework="4.8" />
			</system.Web>
	-->
	<system.web>
		<compilation debug="true" targetFramework="4.8">
			<assemblies>
				<add assembly="DevExpress.Web.ASPxThemes.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.Web.ASPxHtmlEditor.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Web.ASPxSpellChecker.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.SpellChecker.v17.1.Core, Version=17.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Web.ASPxTreeList.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="DevExpress.XtraCharts.v17.1.Web, Version=17.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="DevExpress.XtraReports.v17.1.Web, Version=17.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.DataAccess.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/><add assembly="DevExpress.Web.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/><add assembly="DevExpress.RichEdit.v17.1.Core, Version=17.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/><add assembly="DevExpress.Web.Resources.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/></assemblies>
		</compilation>
		<httpRuntime targetFramework="4.5.2"/>
		<httpModules>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
		</httpModules>
		<httpHandlers>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" validate="false"/>
			<add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false"/>
		</httpHandlers>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
		</compilers>
	</system.codedom>
	<system.webServer>
		<modules>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
		</modules>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode"/>
			<add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode"/>
		</handlers>
	</system.webServer>
	<devExpress>
		<themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies=""/>
		<compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true"/>
		<settings doctypeMode="Html5" rightToLeft="false" embedRequiredClientLibraries="false" ieCompatibilityVersion="edge"/>
		<errors callbackErrorRedirectUrl=""/>
	</devExpress>
</configuration>
